@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    min-height: 100dvh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select,
  datalist {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    font-size: 1rem;
  }
}

:root {
  --main: hsl(220, 12%, 14%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(35.76deg 100% 50%);
  --characters: hsl(220deg 13.33% 17.65%);
  --cards: hsl(225deg 6.25% 25.1%);
  --unknown: #9e9e9e;
  --alive: hsl(112.5deg 57.14% 53.33%);
  --dead: hsl(5.36deg 67.2% 50.98%);
  --footer: hsl(220, 12.33%, 14.31%);
}
